header {
  width: 100%;
  height: 10vh;
  display: flex;
  font-family: Inter, sans-serif;
  flex-direction: row;
  justify-content: center;
  box-shadow: rgb(130, 130, 130) 0px 10px 10px -12px;
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
}

.header-menu {
  display: flex;
  gap: 20px;
}
.header-menu li {
  cursor: pointer;
}
.header-container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  font-family: Inter, sans-serif;
}

.main-cards {
  min-height: 50vh;
  width: 75%;
  padding-right: 30px;
}

.ulProduct {
  display: flex;
  flex-wrap: wrap;  
  gap: 10px;
}

.liProduct {
  display: flex;
  height: auto;
  width: 250px;
  flex-direction: column;
  border: 3px solid #F5F5F5; 
  margin: 10px;
  line-height: 20px;
  justify-content: center;
  
}

.liProduct:hover {
  border: 3px solid #37268C;
}

.containerDescription {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  line-height: 20px;
}

.image {
  width: auto;
  background-color: #F5F5F5;
}

.spanTag {
  background-color: #37268C;
  width: 90px;
  color: white;
  margin-top: 10px;
  text-align: center;
}

.nameProduct {
  font-weight: bold;
  font-size: 17px;
 
}

.valueTrue{
  font-weight: bold;
  color: red;
  text-decoration: line-through;
}

.promotion {
  font-weight: bold;
  color: #2E245E;
}

.buttonCart {
  border: none;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
}

.buttonCart:hover {
  color: #37268C;
  text-decoration: underline;
}

.main-details {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  width: 25%;
}

.main-search {
  display: flex;
  flex-direction: row;
  height: 10%;
}

.search-input {
  height: 40%;
  width: 70%;
  border: none;
  background-color: #f5f5f5;
}

.search-button {
  height: 40%;
  width: 30%;
  border: none;
  background-color: #2e245e;
  color: #ffffff;
  cursor: pointer;
}

.search-button:hover {
  background-color: #828282;
}

.main-details aside {
  width: 100%;
  height: 80%;
}

.cart-title {
  background-color: #37268c;
  color: #ffffff;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-title h4 {
  font-size: 1.2rem;
}

.imgCart{
  height: 75px;
  width: 75px;
}

.liCart{
  gap: 20px;
  display: flex;
  align-items: center;
  line-height: 30px;
}

.hCart {
  font-size: 17px;
  font-weight: bold;
}

.pCart {
  color: #2E245E;
  font-size: 14px;
  font-weight: bold;
}

.buttonRemoveCart {
  border: none;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
}

.buttonRemoveCart:hover {
  color: #37268C;
  text-decoration: underline;
}

.cart-empty {
  height: 45%;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cart-empty h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

.display-none{
  display: none;
}

.cart-list{
  max-height: 50vh;
  overflow-y: auto;
  background-color: #F5F5F5;
}

.cart-details {
  height:20%;
  width: 100%;
  background-color: #333333;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.details-values {
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
